doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.8.2.min.js')
    script(src='/javascripts/jquery-crypt.js')
  body
    block content