//
   Created by Administrator on 2014/5/29.
block business
    fieldset#business
        legend 业务参数
        div
            input(type='text' name="card_id" value="123456789012345")
            |卡号    card_id	String(20)		M	卡号。
        div
            input(type='text' name="password" value="20140505181920")
            | 卡密码    password	String()		M	卡密码，密文，使用“沙海密码控件”。
        div
            input(type='text' name="issuer" value="v1.0")
            | 发卡行号    issuer	String(20)		O	发卡行号。

        div
                //input(type='text' name="ac" value="v1.0")
                //input(type='text' name="a" value="v1.0")
                //input(type='text' name="ab" value="v1.0")

