body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.div_form{
     background-color:#f0f0f0;
    margin: 20px;
}
fieldset{
    margin: 20px;
}