extends ../../layout

block content
    h1= title
    p Welcome to #{title}

    div.div_form
        p  #{title}
        form(achtion="", method="post" action='/vc/api/#{title}')
            include common/protocol_parameters
            block protocol_parameters

            - if(title=='bind'){
            include business/bind
            block business


            -}
            include common/safe_parameters
            block safe_parameters

            div
                input(type='button' value='加密' id='btn_encrypt')
                input(type='button' value='get 方式' id='btn_get_url')

                input(type="submit" value='post 方式 提交')

            div
                p#get_url
            div
                script(src='/javascripts/bind.js')


