//Created by Administrator on 2014/5/29.定义了 协议参数
block protocol_parameters

    fieldset#protocol
        legend 协议参数
        div
            input(type='text' name="tno" value="12345678901234567890")
            | 终端号	tno	String(20)		M	接口服务平台为应用系统分配的终端编码。
        div
            input(type='text' name="pno" value="12345678901234567890")
            | 合作伙伴编号	pno	String(20)		C	永超科技为合作伙伴分配的标示合作机构的编号，本参数当未登记终端时使用，以验证应用的合法性。


